@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  padding: 30px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}
